.testimonal .items {
  padding: 30px;
  transition: 0.5s;
}

.testimonal .name {
  position: relative;
}
.testimonal img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.testimonal i {
  position: absolute;
  bottom: -1.9rem;
  font-size: 10px!important;
  right: 0;
  top: 0;
  background-color: #1eb2a6;
  color: #fff;
}
.testimonal .name {
  margin: 10px;
  width: 100%;
}
.testimonal .name h2 {
  font-size: 18px;
  margin-bottom: 5px;
  width: 100%;
}
.testimonal .name span {
  color: #1eb2a6;
  font-size: 12px;
}
.testimonal p {
  margin-top: 20px;
  color: grey;
  transition: 0.5s;
  font-size: 15px;
}
.testimonal .items:hover {
  background-color: #1eb2a6;
  color: #fff;
  cursor: pointer;
}
.testimonal .items:hover span,
.testimonal .items:hover p {
  color: #fff;
}
.testimonal .items:hover i {
  background-color: #fff;
  color: #1eb2a6;
}
