.blog img {
  width: 100%;
  height: 100%;
}
.blog .text {
  padding: 40px 30px;
}
.blog h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
}
.blog h1:hover {
  color: #229d9d;
  cursor: pointer;
}
.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #229d9d;
}
.blog span label {
  margin-left: 10px;
  color: grey;
  font-size: 10px;
}
.blog span i {
  font-size: 10px;
}
.blog span:nth-last-child(1) label {
  color: #229d9d;
}
.blog p {
  color: grey;
  font-size: 14px;
}
